/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  @apply bg-gray-50 text-gray-800 font-sans;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
} */
 @import "tailwindcss";

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
